<template>
  <div id="about">
    <div class="container">
    	<div @mouseenter="hoverEvent" class="jumbotron" :class="{'red': this.red  }">
    	  <h1>About</h1>
    	  <p>...</p>
    	  <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
    	</div>
      <div class="vee-test">
        <input  type="text" 
                name="email" 
                @change="updateTest"
                data-vv-delay="1000"
                v-validate="'required|email'">
        <span v-show="errors.has('email')">{{ errors.first('email') }}</span>
        <p>{{ vTest }}</p>

        <input  type="text" 
                name="name" 
                v-model="vName"
                @change="disableBtn"
                data-vv-delay="1000"
                v-validate="'required|alpha'">
        <span v-show="errors.has('name')">{{ errors.first('name') }}</span>
        <p>{{ vName }}</p>

        <hr>

        <button :disabled="disabled">Button</button>

      <div class="text-counter">
        <textarea name="" id="" cols="30" rows="10" v-model="commentText" placeholder="Tell us about your experience with Vivint Solar ... 40 character minimum." min="40"></textarea>
        <span v-if="textCountLength <= 0">{{ textCountLength }}</span>
      </div>
      <!-- <div class="stars">
        <span class="top">1</span>
        <span class="top">2</span>
        <span class="top">3</span>
      </div> -->
      <div class="star-row">
        <i class="material-icons top" id='1'>star</i>
        <i class="material-icons top" id='2'>star</i>
        <i class="material-icons top" id='3'>star</i>
        <i class="material-icons top" id='4'>star</i>
        <i class="material-icons top" id='5'>star</i>
      </div>
    </div>
  </div>
</template>

<script>
import jQuery from 'jquery'

// Vue events - change, blur, click, submit, keyup, keydown, mouseover, mouseenter, mouseout, mouseleave

export default {
  data () {
    return {
      textCount: -40,
      commentText: '',
      vTest: '',
      vName: '',
      testInput: '',
      red: false,
      disabled: true
    }
  },
  computed: {
    textCountLength: function () {
      return this.textCount + this.commentText.length
    }
  },
  mounted: function () {
    let stars = jQuery('.top')
    // console.log(stars)

    stars.on('click', function (event) {
      let target = jQuery(this)
      stars.removeClass('selected')
      target.prevAll().addBack().addClass('selected')
    })

    stars.hover(
      function (event) {
        let that = jQuery(this)
        that.prevAll().addBack().addClass('hover-selected')
      }, 
      function (event) {
        stars.removeClass('hover-selected')
    })
  },
  methods: {
    chooseSpan (event) {
      // console.log(jQuery('.stars span'))
      let stars = jQuery('.stars span')
      let target = event.target
      // console.log(event.target)
      stars.removeClass('selected')
      target.prevAll().addBack().addClass('selected')
      // console.log(event.target)
    },
    updateTest (event) {
      this.vTest = event.target.value
      this.disableBtn()
    },
    updateText (event) {
      this.testInput = event.target.value
    },
    hoverEvent () {
      this.red = true
    },
    disableBtn () {
      if (this.vTest.length >= 1 && this.vName.length >= 1) {
        this.disabled = false
      } else {
        this.disabled = true
      }
    }
  }
}
</script>

<style lang="scss" scoped>
#about {
	margin-top: 20px;
  .jumbotron {
    &.red {
      background: lightgray;
    }
  }
  button {
    background-color: green;

    &:disabled {
      background-color: red;
    }
  }
  .text-counter {
    position: relative;
    textarea {
      padding: 10px;
    }
    span {
      color: red;
      position: absolute;
      bottom: 10px;
      left: 59%;
    }
  }

  .stars {
    span {
      cursor: pointer;
      padding: 10px;
      &.selected {
        color: red;
      }
      &.hover-selected {
        color: red;
      }
    }
  }

  .star-row {
    cursor: pointer;
    i {
      // cursor: pointer;
      margin: 10px;
      transition: all .1s ease-in-out;
      &.selected {
        color: red;
      }
      &.hover-selected {
        color: red;
      }
    }
  }
}
</style>
