<template>
  <div id="filters">
    <h3>Filters</h3>
	
	<hr>
	<p>Search a Fruit</p>
	<input type="text" v-model="filterText">
    
    <ul class="list-group">
    	<li class="list-group-item" v-for="fruit in filteredFruits">{{ fruit }}</li>
    </ul>
    
  </div>
</template>

<script>
export default {
	name: 'Filters',
	data () {
		return {
			filterText: '',
			fruits: ['Apple', 'Orange', 'Banana', 'Peach', 'Plum']
		}
	},
	computed: {
		filteredFruits () {
			return this.fruits.filter((element) => {
				return element.match(this.filterText)
			})
		}
	}
}
</script>

<style>
</style>
