<template>
  <div id="header" class="container">
    <ul class="nav nav-pills">
      <router-link to="/" tag="li" active-class='active' exact><a>Home</a></router-link> <!--styling for routerlink Lecture 227-->
      <router-link to="/user" tag="li" active-class='active'><a>User</a></router-link>
      <router-link to="/about" tag="li" active-class='active'><a>About</a></router-link>
      <router-link to="/filter" tag="li" active-class='active'><a>Filter</a></router-link>
    </ul>
    <button @click="sendToParent" class="btn">{{ basketballBtn }}</button>
  </div>
</template>

<script>
export default {
  name: 'header',
	data () {
		return {
			headerName: '',
			basketballBtn: 'Who the best basketball player of all-time?' 
		}
	},
	methods: {
		sendToParent () {
			this.headerName = 'Kobe'
			this.basketballBtn = 'Yep.'
			this.$emit('fromHeader', this.headerName) // emit up to parent
		}
	}
}
</script>

<style lang="scss">
#header {
}
</style>
