<template id="hello">
    <div>
      <h1>{{ msg }}</h1>
      <h1> It's {{ tempConverter }}&#8457; in {{ cityInfo.name }}, UT</h1>
      <ul>
        <!-- <li class="weatherStatus">{{ weatherStatus.weatherDescription }}<img :src="weatherStatus.weatherIcon"></li> -->
        <li>Low {{ lowTemp }}&#8457;</li>
        <li>High {{ highTemp }}&#8457;</li>
        <li>Humidity {{ humidityConverter }}%</li>
        <li>{{ time }}</li>
      </ul>

     <!--  <div id="weather-map"></div> -->
      
    </div>
</template>

<script>
export default {
  name: 'hello',
  // created () {
  //   this.axios.get('http://api.openweathermap.org/data/2.5/weather?id=5779334.5&cnt=10&appid=27c3264cc29ec1744153432dc9eb08dc').then((response) => {
  //   // success callback
  //     console.log(response.body)
  //     this.cityInfo = response.body
  //   }, (response) => {
  //   // error callback
  //   })
  // },
  created () {
    this.axios.get('http://api.openweathermap.org/data/2.5/weather?id=5779334.5&cnt=10&units=imperial&appid=27c3264cc29ec1744153432dc9eb08dc')
      .then((response) => {
        this.cityInfo = response.data
      })
      .catch((error) => {
        console.log(error)
      })
  },
  beforeUpdate () {
  },
  mounted () {
    setInterval(this.clockTime, 1000)
  },
  data () {
    return {
      msg: 'Vue Weather App',
      cityInfo: [],
      time: ''
    }
  },
  methods: {
    clockTime () {
      let today = new Date()
      let hours = today.getHours()
      let minutes = today.getMinutes()
      let seconds = today.getSeconds()
      let ap

      if (hours === 0) {
        ap = ' AM'
        hours = 12
      } else if (hours < 12) {
        ap = ' AM'
      } else if (hours === 12) {
        ap = ' PM'
      } else if (hours > 12) {
        ap = ' PM'
        hours -= 12
      }

      if (minutes <= 9) {
        minutes = '0' + minutes
      }
      if (seconds <= 9) {
        seconds = '0' + seconds
      }

      let digitalClock = hours + ' : ' + minutes + ' : ' + seconds + ap
      this.time = digitalClock
    }
    // makeChart () {
    //   let self = this
    //   self.map = window.AmCharts.makeChart('weather-map', {
    //     'type': 'map',
    //     'theme': 'light',
    //     'dataProvider': {
    //       'map': 'worldLow',
    //       'zoomLevel': 5.5,
    //       'zoomLongitude': 10,
    //       'zoomLatitude': 52,
    //       'images': [ {
    //         'latitude': 40.416775,
    //         'longitude': -3.703790,
    //         'imageURL': 'https://www.amcharts.com/images/weather/weather-rain.png',
    //         'width': 32,
    //         'height': 32,
    //         'label': 'Madrid: +22C'
    //       }, {
    //         'latitude': 48.856614,
    //         'longitude': 2.352222,
    //         'imageURL': 'https://www.amcharts.com/images/weather/weather-storm.png',
    //         'width': 32,
    //         'height': 32,
    //         'label': 'Paris: +18C'
    //       }, {
    //         'latitude': 52.520007,
    //         'longitude': 13.404954,
    //         'imageURL': 'https://www.amcharts.com/images/weather/weather-clouds.png',
    //         'width': 32,
    //         'height': 32,
    //         'label': 'Berlin: +13C'
    //       }, {
    //         'latitude': 52.229676,
    //         'longitude': 21.012229,
    //         'imageURL': 'https://www.amcharts.com/images/weather/weather-clear.png',
    //         'width': 32,
    //         'height': 32,
    //         'label': 'Warsaw: +22C'
    //       }, {
    //         'latitude': 41.872389,
    //         'longitude': 12.480180,
    //         'imageURL': 'https://www.amcharts.com/images/weather/weather-clear.png',
    //         'width': 32,
    //         'height': 32,
    //         'label': 'Rome: +29C'
    //       }, {
    //         'latitude': 51.507351,
    //         'longitude': -0.127758,
    //         'imageURL': 'https://www.amcharts.com/images/weather/weather-showers.png',
    //         'width': 32,
    //         'height': 32,
    //         'label': 'London: +10C'
    //       }, {
    //         'latitude': 59.329323,
    //         'longitude': 18.068581,
    //         'imageURL': 'https://www.amcharts.com/images/weather/weather-rain.png',
    //         'width': 32,
    //         'height': 32,
    //         'label': 'Stockholm: +8C'
    //       } ]
    //     },
    //     'imagesSettings': {
    //       'labelRollOverColor': '#000',
    //       'labelPosition': 'bottom'
    //     },
    //     'areasSettings': {
    //       'rollOverOutlineColor': '#FFFFFF',
    //       'rollOverColor': '#CC0000',
    //       'alpha': 0.8
    //     },
    //     'export': {
    //       'enabled': true
    //     }
    //   })
    // }
  },
  computed: {
    tempConverter () {
      if (typeof this.cityInfo.main !== 'undefined') {
        let k = this.cityInfo.main.temp
        // let convertedDegree = (k - 273.15) * (9 / 5) + 32
        return k.toFixed(0)
      }
    },
    humidityConverter () {
      if (typeof this.cityInfo.main !== 'undefined') {
        return this.cityInfo.main.humidity
      }
    },
    lowTemp () {
      if (typeof this.cityInfo.main !== 'undefined') {
        return (this.cityInfo.main.temp_min).toFixed(0)
      }
    },
    highTemp () {
      if (typeof this.cityInfo.main !== 'undefined') {
        return (this.cityInfo.main.temp_max).toFixed(0)
      }
    },
    weatherStatus () {
      if (typeof this.cityInfo.main !== 'undefined') {
        console.log(this.cityInfo.weather[0].icon)
        let statusIcon = this.cityInfo.weather[0].icon
        let statusDescription = this.cityInfo.weather[0].description

        return {
          weatherIcon: 'http://openweathermap.org/img/w/' + statusIcon + '.png',
          weatherDescription: statusDescription
        }
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
  li {
    margin: 0 10px;
    vertical-align: top;
    color: #3E63AC;
    img {
      vertical-align: middle;
    }
    &.weatherStatus {
      text-transform: capitalize;
      color: #474747;
    }
  }
}

#weather-map {
  width: 100%;
  height: 280px;
}

</style>
