<template>
  <div id="home">
    <hello></hello>
    <!-- <maps></maps> -->
  </div>
</template>

<script>
import Hello from './Hello'
import Maps from './Maps'

export default {
  name: 'app',
  components: {
    Hello,
    Maps
  }
}
</script>

<style>
</style>
