<template id="map">
  <div>
    <!-- <h1>{{ team }}</h1> -->
    <div id="weather-map"></div>
  </div>
	
</template>

<script>
// import AmCharts from 'ammap3'
// import 'ammap3/ammap/ammap'
// import 'ammap3/ammap/themes/light'
// import 'ammap3/ammap/maps/js/usaLow'

export default {
  name: 'maps',
  created () {
    // this.makeChart()
    // this.axios.get('http://api.openweathermap.org/data/2.5/weather?id=5779334.5&cnt=10&units=imperial&appid=27c3264cc29ec1744153432dc9eb08dc')
    //   .then((response) => {
    //     this.mapCityInfo = response.data
    //   })
    //   .catch((error) => {
    //     console.log(error)
    //   })
    // this.axios.get('https://aviewfrommyseat.com/avf/api/featured.php?appkey=15ac839051a34d01a86861682e7d452a')
    //   .then((response) => {
    //     this.nba = response.data
    //   })
    //   .catch((error) => {
    //     console.log(error)
    //   })
  },
  activated () {
    // this.makeChart()
  },
  update () {
    // this.makeChart()
  },
  data () {
    return {
      team: 'Weather Map',
      nba: [],
      mapCityInfo: []
    }
  },
  computed: {
  },
  methods: {
    // makeChart () {
    //   console.log(this.mapCityInfo)
    //   let self = this
    //   self.map = window.AmCharts.makeChart('weather-map', {
    //     'type': 'map',
    //     'theme': 'light',
    //     'dataProvider': {
    //       'map': 'usaLow',
    //       'zoomLevel': 1.5,
    //       'zoomLongitude': 10,
    //       'zoomLatitude': 52,
    //       'images': [ {
    //         'latitude': 68,
    //         'longitude': -77.69,
    //         'imageURL': 'https://www.amcharts.com/images/weather/weather-clear.png',
    //         'width': 32,
    //         'height': 32,
    //         'label': 'Orem, UT'
    //       }, {
    //         'latitude': this.mapCityInfo.coord,
    //         'longitude': 2.352222,
    //         'imageURL': 'https://www.amcharts.com/images/weather/weather-storm.png',
    //         'width': 32,
    //         'height': 32,
    //         'label': 'Paris: +18C'
    //       }, {
    //         'latitude': 52.520007,
    //         'longitude': 13.404954,
    //         'imageURL': 'https://www.amcharts.com/images/weather/weather-clouds.png',
    //         'width': 32,
    //         'height': 32,
    //         'label': 'Berlin: +13C'
    //       }, {
    //         'latitude': 52.229676,
    //         'longitude': 21.012229,
    //         'imageURL': 'https://www.amcharts.com/images/weather/weather-clear.png',
    //         'width': 32,
    //         'height': 32,
    //         'label': 'Warsaw: +22C'
    //       }, {
    //         'latitude': 41.872389,
    //         'longitude': 12.480180,
    //         'imageURL': 'https://www.amcharts.com/images/weather/weather-clear.png',
    //         'width': 32,
    //         'height': 32,
    //         'label': 'Rome: +29C'
    //       }, {
    //         'latitude': 51.507351,
    //         'longitude': -0.127758,
    //         'imageURL': 'https://www.amcharts.com/images/weather/weather-showers.png',
    //         'width': 32,
    //         'height': 32,
    //         'label': 'London: +10C'
    //       }, {
    //         'latitude': 59.329323,
    //         'longitude': 18.068581,
    //         'imageURL': 'https://www.amcharts.com/images/weather/weather-rain.png',
    //         'width': 32,
    //         'height': 32,
    //         'label': 'Stockholm: +8C'
    //       } ]
    //     },
    //     'imagesSettings': {
    //       'labelRollOverColor': '#000',
    //       'labelPosition': 'bottom'
    //     },
    //     'areasSettings': {
    //       'rollOverOutlineColor': '#FFFFFF',
    //       'rollOverColor': '#CC0000',
    //       'alpha': 0.8
    //     },
    //     'export': {
    //       'enabled': true
    //     }
    //   })
    // }
  }
}
</script>

<style lang="scss" scoped>
h1, h2 {
  font-weight: normal;
}

#weather-map {
  width: 100%;
  height: 500px;
}

</style>