<template>
  <div id="userDetail">
    <h3>U D</h3>
    <p>User loaded has ID: {{ $route.params.id }}</p>

    <router-link 
    	:to="{ path: '/user/' + $route.params.id + '/edit' }">Edit User</router-link>
  </div>
</template>

<script>
export default {
}
</script>

<style>
</style>
