<template>
  <div id="userStart">
	  <h3>User Start</h3>
	  <hr>
    <ul class="list-group">
      <router-link
        v-for="user in users"
        :to="{ path: '/user/' + user.id }"
        class="list-group-item">{{ user.name }}, id: {{ user.id }}
      </router-link><!-- could use named routes for :to=  -->

      <router-link to='/user/1'>somewhere</router-link>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'userStart',
  data () {
    return {
      users: [ { name: 'User 1', id: 1 }, { name: 'User 2', id: 2 }, { name: 'User 3', id: 3 } ]
    }
  }
}
</script>

<style lang="sass">
#userStart {
  ul {
    li {
      cursor: pointer;

      &:hover {
        background-color: darken(white, 10%);
      }
    }
  }
}
</style>
