<template>
  <div id="user">
    <div class="container">
      <div class="page-header">
        <h1>User</h1>
      </div>
      <button @click="navigateToHome" class="btn btn-primary">Go Home</button>
      <!-- <router-link to="/" class="btn">Go home</router-link>  this is the same as the above button-->

      <hr>

      <router-view></router-view>
      
    </div>
  </div>
</template>

<script>
export default {
  name: 'user',
  methods: {
    navigateToHome () {
      this.$router.push('/') // same as route-link
    }
  }
}
</script>
