<template>
  <div id="userDetails">
    <h3>User Details</h3>
    <p>User loaded has ID: {{ $route.params.id }}</p>
    <!-- <router-link 
      :to="{ path: '/user/' + $route.params.id + '/edit' }">Edit User</router-link> -->
    <router-link 
      tag="button" 
      class="btn btn-primary" 
      :to="{ name: 'userEdit', params: { id: $route.params.id }, query: { locale: 'en', q: 100 } }">Edit User
    </router-link> <!-- userEdit name is alias for below comment-->
    <!--equivalent to this :to="'/user/' + $route.params.id +'/edit'"-->
  </div>
</template>

<script>
export default {
  name: 'userDetails',
  data () {
    return {
      link: {
        name: 'editUser',
        params: {
          id: this.$route.params.id
        },
        query: {
          locale: 'en',
          q: 100
        }
      }// link
    }
  }
  // beforeRouteEnter () {
    
  // }
}
</script>

<style>
</style>
