<template>
  <div id="userEdit">
    <h3>User Edit</h3>
    <p>Locale: {{ $route.query.locale}}</p>
    <p>q: {{ $route.query.q}}</p>
    <p>User id: {{ $route.params.id }}</p>
    <hr>
    <button class="btn btn-primary">Confirm</button>
  </div>
</template>

<script>
export default {
  name: 'userEdit'
}
</script>

<style>
</style>
