<template>
  <div id="app" class="container">
    
    <my-header @fromHeader="listenToHeader"></my-header>
    <p>{{ favBballPlayer }}</p>
    <!-- <transition name="component-fade" mode="in-out"> -->
      <router-view></router-view>
    <!-- </transition> -->

    <!-- <router-view name="header-bottom"></router-view> --> <!--name router-view-->
    <div ></div>
  </div>
</template>

<script>
import Header from './components/Header'

export default {
  name: 'app',
  components: {
    myHeader: Header
  },
  data () {
    return {
      favBballPlayer: ''
    }
  },
  methods: {
    doSomething () {
      console.log('child talked to parent')
    },
    listenToHeader (data) {
      console.log(data)
      this.favBballPlayer = data // child to parent communication
    }
  }
}
</script>

<style lang="sass">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  
  .component-fade-enter-active, .component-fade-leave-active {
    transition: opacity .3s ease;
  }
  .component-fade-enter, .component-fade-leave-to
  /* .component-fade-leave-active for <2.1.8 */ {
    opacity: 0;
  }
}
</style>
